.post {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    margin: 10px;
}
.post-title {
    padding-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}
.post-text {
    padding: 15px;
    padding-top: 5px;
}